@charset "UTF-8";

h1 {
  font-family: "impact", "helvetica", "sans-serif";
  color: #ffff;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

a {
  color: #ffff;
}
