@charset "UTF-8";

h1 {
  font-family: "impact", "helvetica", "sans-serif";
  color: #ffff;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

a {
  color: #ffff;
}

a:link {
  color: pink;
}

a:visited {
  color: lightgoldenrodyellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 99%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: gray;
}
