div {
  width: 320px;
  margin-top: 130px;
  margin-left: 50px;
  margin-right: auto;
  padding: 20px;
  border: 5px solid #e6e6e6;
  border-radius: 10px;
  background: rgba(1, 1, 1, 0.2) repeat scroll !important;
  background: #000;
  filter: Alpha(opacity=20);
}

div p {
  position: relative;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  color: whitesmoke;
}

p {
  font-family: Helvetica;
  color: seashell;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-align-last: auto;
}

img {
  max-width: 100%;
}
